{% extends 'base.html' %}
{% block content %}
    <!-- end header section -->
  </div >

  <div class="input-group col-md-3  " >
    <form method="get">
    <input type="search" class="form-control rounded" name="searchData" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="submit" class="btn btn-outline-primary">search</button>
    </form>
  </div>
 
  <!-- sale section -->

  <section class="sale_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container">
        <h2>
          House For Sale
        </h2>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the
        </p>
      </div>
      <div class="sale_container">
        {% for n in houseData %}
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/media/{{n.House_image}}" alt="Card image cap">
          <div class="card-body">
            <h5><a href="{% url 'newdetail' n.House_slug %}" class="card-title" >{{n.House_title}}</a></h5>
            
            <p class="card-description" >
              {{ n.House_des | slice:"0:222" | safe }}
            </p>
            <a href="{% url 'newdetail' n.House_slug %}" class="btn btn-primary">Go somewhere</a>
          </div>
          {% empty %}
        No Data Found
        {% endfor %}
        </div>
        <!-- {% for n in houseData %}
        <div class="box">
          <div class="img-box">
            <!-- <img src="/static/images/s-1.jpg" alt=""> -->
            <!-- <img src="/media/{{n.House_image}}" alt="">
          </div>
          <div class="detail-box">
            <h6>
             <a href="{% url 'newdetail' n.House_slug %}">{{n.House_title}}</a>
            </h6>
            <p>
             {{n.House_des  | safe }}
            </p>
          </div>
        </div>
        {% empty %}
        No Data Found
        {% endfor %} --> -->
        <!-- <div class="box">
          <div class="img-box">
            <img src="/static/images/s-2.jpg" alt="">
          </div>
          <div class="detail-box">
            <h6>
              apertments house
            </h6>
            <p>
              There are many variations of passages of Lorem Ipsum available, but
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="/static/images/s-3.jpg" alt="">
          </div>
          <div class="detail-box">
            <h6>
              apertments house
            </h6>
            <p>
              There are many variations of passages of Lorem Ipsum available, but
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="/static/images/s-4.jpg" alt="">
          </div>
          <div class="detail-box">
            <h6>
              apertments house
            </h6>
            <p>
              There are many variations of passages of Lorem Ipsum available, but
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="/static/images/s-5.jpg" alt="">
          </div>
          <div class="detail-box">
            <h6>
              apertments house
            </h6>
            <p>
              There are many variations of passages of Lorem Ipsum available, but
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="/static/images/s-6.jpg" alt="">
          </div>
          <div class="detail-box">
            <h6>
              apertments house
            </h6>
            <p>
              There are many variations of passages of Lorem Ipsum available, but
            </p>
          </div>
        </div>
      </div> -->
      <div class="btn-box">
        <a href="">
          Find More
        </a>
      </div>
    </div>
  </section>

  <!-- end sale section -->



  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Apartment
            </h5>
            <div>
              <div class="img-box">
                <img src="/static/images/location.png" width="18px" alt="">
              </div>
              <p>
                Address
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="/static/images/phone.png" width="12px" alt="">
              </div>
              <p>
                +01 1234567890
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="/static/images/mail.png" width="18px" alt="">
              </div>
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Information
            </h5>
            <p>
              ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Link
            </h5>
            <ul>
              <li>
                <a href="">
                  There are many
                </a>
              </li>
              <li>
                <a href="">
                  variations of
                </a>
              </li>
              <li>
                <a href="">
                  passages of
                </a>
              </li>
              <li>
                <a href="">
                  Lorem Ipsum
                </a>
              </li>
              <li>
                <a href="">
                  available, but
                </a>
              </li>
              <li>
                <a href="">
                  the i
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <img src="/static/images/fb.png" alt="">
              </a>
              <a href="">
                <img src="/static/images/twitter.png" alt="">
              </a>
              <a href="">
                <img src="/static/images/linkedin.png" alt="">
              </a>
              <a href="">
                <img src="/static/images/youtube.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->



{% endblock %}